<!--header start-->
<header class="l-header l-header_overlay">

    <div class="l-navbar l-navbar_t-semi-trans l-navbar_expand js-navbar-sticky">
        <div class="container-fluid">
            <nav class="menuzord js-primary-navigation" role="navigation" aria-label="Primary Navigation">

                <!--logo start-->
                <a href="#" class="logo-brand">
                    <img class="retina" src="assets/img/logo-dark.png" alt="Elithium Soluções Inteligentes">
                </a>
                <!--logo end-->

                <!--mega menu start-->
                <ul class="menuzord-menu menuzord-right c-nav_s-standard">
                    <li><a href="#">Home</a>
                    </li>                    
                    <li><a href="sobre-nos">Sobre nós</a>
                    </li>
                    <li class="active"><a href="#">Soluções</a>
                        <ul class="dropdown">
                            <li class="active"><a href="#">Telemetria</a>
                                <ul class="dropdown">
                                    <li><a href="telemetria-sensorizada">SENSORIZADA</a>
                                    </li>
                                    <!-- <li><a href="telemetria-obd">TELEMETRIA OBD</a>
                                    </li> -->
                                    <li><a href="telemetria-can">TELEMETRIA CAN</a>
                                    </li> 
                                </ul>
                            </li>                      
                            <li><a href="jornada-trabalho">Jornada de Trabalho</a>
                            </li>
                            <li><a href="roteirizador-entregas">Roteirizador de entregas</a>
                            </li>
                            <li><a href="gestao-frota-terceirizada">Gestão de Frota Terceirizada</a>
                            </li>  
                            <li><a href="app-check-list-os">APP CHECK LIST E O.S</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="https://bit.ly/2VkaZbd" target="_blank">RELATORIOS POWER BI</a>
                    </li>
                    <li><a href="videos-demonstracao">VÍDEOS DEMONSTRAÇÃO</a>
                    </li>
                    <li><a href="#">Blog</a>
                        <ul class="dropdown">
                            <li><a href="http://blog-elithium.ibsetsystems.com/category/abastecimento/">Abastecimento</a>
                            </li>
                            <li><a href="#">Depreciação de Veículos</a>
                            </li>
                            <li><a href="#">Gestão de Frota</a>
                            </li>
                            <li><a href="#">Internet</a>
                            </li>
                            <li><a href="#">Logística</a>
                            </li>
                            <li><a href="#">Gestão de Pneus</a>
                            </li>
                            <li><a href="#">Segurança</a>
                            </li>
                            <li><a href="#">Sensor de Fadiga</a>
                            </li>
                            <li><a href="#">Telemetria</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--mega menu end-->

            </nav>
        </div>
    </div>

</header>
<!--header end-->