        <!--footer start 1-->
        <footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="m-bot-20 footer-logo">
                                <img  src="assets/img/logo-dark.png" alt="" />
                            </a>
                            <p>
                                <b>Elithium - Soluções Inteligentes</b><br>
                                Praça Berlim Nº 77 – Jardim Europa<br>Sorocaba/SP<br>contato@www.elithium.com.br<br>(15) 3359-8302 | (11) 2236-1286
                            </p>

                        </div>
                        <div class="col-md-4">
                            <h5 class="text-uppercase">Informações ao Cliente</h5>
                            <ul class="f-list">
                                <li><a href="about">Quem Somos</a>
                                </li>
                                <li><a href="videos-demonstracao">Materias e Vídeos</a>
                                </li>
                                <li><a href="https://blog.elithium.com.br">Blog Elithium</a>
                                </li>
                                <!-- <li><a href="#">Fale Conosco </a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-uppercase">Acesso ao Sistema</h5>
                            <ul class="f-list">
                                <li><a href="https://tracking.systemsatx.com.br/">SSX GESTÃO, TELEMETRIA E LOGÍSTICA</a>
                                </li>
                                <li><a href="http://www.gslogweb.com.br/logistica/?emp=147281">GSLOG</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="m-top-10">Copyright 2012 - 2020 IBSET SYSTEMS. <a href="https://ibsetsystems.com/" class="f-link" target="_blank">IBSET</a> | All Rights Reserved</span>
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                <a target="_blank" href="https://www.facebook.com/elithiumsorocaba/"><i class="fa fa-facebook"></i></a>
                                <!-- <a target="_blank" href="#"><i class="fa fa-instagram"></i></a> -->
                                <a target="_blank" href="https://www.google.com/search?q=elithium+solu%C3%A7%C3%B5es+inteligentes&oq=Elithium+Solu%C3%A7%C3%B5es+I&aqs=chrome.1.69i57j0j69i60l3.9342j0j15&sourceid=chrome&ie=UTF-8"><i class="fa fa-google"></i></a>                                
                                <a target="_blank" href="https://www.linkedin.com/company/elithium-solu%C3%A7%C3%B5es-em-gest%C3%A3o-de-frotas/"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://www.youtube.com/channel/UCAVM2S0v3OFSXCWy0P8itPw"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer 1 end-->