

        <!--body content start-->
        <section class="body-content">
            <section class=" error-parallax ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center" style="margin-top: 180px;">     
                            <div class="error-info">
                                <div class="error404">
                                    404
                                </div>
                                <div class="error-txt">
                                    Oops, essa página não foi encontrada
                                </div>
                                <a href="home" class="btn btn-medium  btn-theme-color ">Voltar pra Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--body content end-->
