<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">App Orderm de Serviço e CheckList</h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Soluções</a>
                    </li>
                    <li class="active">App Orderm de Serviço e CheckList</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-6">
                            <div class="post-slider post-img text-center">
                                <ul class="slides">
                                    <li data-thumb="assets/img/app-checklist/01.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/01.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/02.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/02.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/03.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/03.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/04.jpg">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/04.jpg" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/05.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/05.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/06.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/06.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/app-checklist/07.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/app-checklist/07.png" alt="">
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4 class="text-uppercase">
                                    App Ordem de Serviço e Check List
                                </h4>
                                <p>
                                    Aplicativo desenvolvido para empresas que trabalham com equipe técnica externa. O
                                    objetivo do app de ordem de serviço, é automatizar os processos de criação e
                                    planejamento do trabalho executado em campo, evitando assim a utilização de papeis e
                                    formulários que dificultam a comunicação entre a equipe de agendamento/gestores e a
                                    equipe de campo.
                                    <br><br>
                                    O sistema também conta com regras de automatização para melhorar visualização das
                                    ordens de serviços e formulários, possibilitando a criação de regras de validação e
                                    regras de valor para cada campo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page-content">
        <div class="container">           
            <div class="row">
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-basic_keyboard"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>TIPOS DE APLICAÇÕES</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Gestão de equipe externa </li>
                                <li>Agendamento de ordem de serviços </li>
                                <li>Formulários de inspeção veicular </li>
                                <li>Agendamento de manutenções corretivas e preventivas </li>
                                <li>Chek List veicular</li>
                                <li>Formulário de abastecimento interno
                                </li>
        
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph3"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>TIPOS DE EMPRESAS</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Transportadoras </li>
                                <li>Prestadora de Serviços - Serviço a Domicílio </li>
                                <li>Oficina Mecânica Especializada</li>
                                <li>Empresas de Guincho </li>
                                <li>Serviços de auto-elétrico a domicílio </li>
                                <li>Indústria</li>
                                <li>Reparos emergênciais</li>
                                <li>Corretoras de seguro</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph_increase"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>PLANEJADOR DE TAREFAS</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Programar ciclos de visitas, semanais, quinzenais e mensais.</li>
                                <li>Identificar os locais mais próximos dos agentes.</li>
                                <li>Roteiriza visitas agendadas.</li>
                                <li>Relaciona locais de atendimento e agentes através da distância entre eles.</li>
                                <li>distância percorrida por cada agente</li>
                              
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">           
            <div class="row">
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-basic_keyboard"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>campos disponíveis</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Numérico</li>
                                <li>Alfanumérico</li>
                                <li>Data e hora</li>
                                <li>GPS Localização</li>
                                <li>Imagem</li>
                                <li>Lógico</li>
                                <li>Lista</li>
                                <li>Multimidia</li>
                                <li>Qualificação</li>
                                <li>Áudio</li>
        
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph3"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>Vantagens e benefícios</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Agilidade nas Operações</li>
                                <li>Redução de tempo e retrabalhos</li>
                                <li>Confiança nos dados recebidos</li>
                                <li>Segurança nas informações disponibilizadas</li>
                                <li>Gestão rápida das equipes</li>
                                <li>Qualidade na prestação de serviço</li>
                                <li>Redução de Custos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph_increase"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>processos otimizados</h4>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Aceite ou Recusa de O.S.</li>
                                <li>Informação de Chegada nos Clientes.</li>
                                <li>Peso</li>
                                <li>Volume</li>
                                <li>Valor</li>
                                <li>Colaborador responsável do pedido</li>
                                <li>Tempo estimado de entrega/coleta</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!--body content end-->