        <!--page title start-->
        <section class="page-title background-title dark banner-sb1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">Telemetria OBD </h3>
                        <ol class="breadcrumb box">
                            <li><a href="#">Soluções</a>
                            </li>     
                            <li><a href="#">Telemetria</a>
                            </li>
                            <li class="active">OBD</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--page title end-->

        <!--body content start-->
        <section class="body-content">

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="post-list-aside">
                            <div class="post-single">
                                <div class="col-md-6">
                                    <div class="post-slider post-img text-center">
                                        <ul class="slides">
                                            <li data-thumb="assets/img/obd/1.jpg">
                                                <a href="javascript:;" title="">
                                                    <img src="assets/img/obd/1.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <h4 class="text-uppercase">
                                            telemetria OBD
                                        </h4>

                                        <p>
                                            A Telemetria OBDII é mais recomendada para veículos de porte leve, no caso veículos de passeio ou utilitários. A mesma tem um diferencial que é a instalação, no caso Plug and Play (plugar e usar), não necessita que um técnico corte ou sangre nenhum fio do veículo e toda a telemetria vem do módulo do veículo. Dependendo do modelo e ano do veículo os equipamentos pode ler informações como: RPM, Velocidade do Painel, Combustível, quilometragem real (hodômetro), temperatura de motor, entre outras informações.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr/>

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h4 class="text-uppercase">Rastreador RST-OBDII</h4>
                            <p>
                                O Rastreador RST-OBDII é um produto focado em telemetria de uso do veículo com possibilidade de bloqueio e controle de motoristas.
                                Com esse produto totalmente configurável e flexível, ajudamos nossos clientes a fechar mais negócios customizando o hardware e software conforme a demanda.
                            </p>                            
                        </div>
                        <div class="col-md-5">
                            <!-- accordion 2 start-->
                            <dl class="accordion">
                                <dt>
                                    <a href="">Rede CAN</a>
                                </dt>
                                <dd>
                                    - Principais Veículos leves<br>
                                    - Ford / Fiat / Toyota / Chevrolet<br>
                                    - Conector Padrão OBD-II<br>
                                    - ISO 15765 CAN
                                  
                                </dd>
                                <dt>
                                    <a href="">Principais Características Modem</a>
                                </dt>
                                <dd>
                                    - Quad-band: 850/ 900/ 1800/ 1900MHz<br>
                                    - Homologado na Anatel<br>
                                    - Detecção de Jammer
                                </dd>
                                <dt>
                                    <a href="">Principais Características GPS</a>
                                </dt>
                                <dd>
                                    - Multi Constelações<br>
                                    - Antena interna de alta performance<br>
                                    - GPS, GLONASS, Galileo e QZSS 
                                </dd>
                                <dt>
                                    <a href="">Principais Características</a>
                                </dt>
                                <dd>
                                    - Uma entrada para Pós-Chave (12v/24v)<br>
                                    - Duas entradas tri-state<br>
                                    - Bloqueio/sirene<br>
                                    - Bateria Interna - Capacidade de 250mA<br>
                                    - RPM – Controle de Motor Ocioso<br>
                                    - Entrada leitor RFID/Ibutoon<br>
                                    - 05 Entradas - sensor temperatura de:  -55°C a +125°C<br>
                                    - Porta RS-232 – Integração sensores<br>
                                    - Inteligência Embarcada
                                </dd>
                                <dt>
                                    <a href="">Eventos e Indicadores de Telemetria</a>
                                </dt>
                                <dd>       
                                    - Excesso de Velocidade Máxima                             
                                    - Excesso de Velocidade Chuva<br>
                                    - Tempo e Distancia em Velocidade Máxima<br>
                                    - Aceleração e Frenagem Brusca<br>
                                    - Velocidade Máxima em Área Controlada<br>
                                    - Distância Percorrida Km e metros detalhado<br>
                                    - Tempo Motor Ocioso<br>
                                    - Tempo Excesso de RPM

                                </dd>
                            </dl>
                            <!-- accordion 2 end-->
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--body content end-->