<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">Roteirizador de Entregas </h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Soluções</a>
                    </li>
                    <li class="active">Roteirizador de Entregas</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-6">
                            <div class="post-slider post-img text-center">
                                <ul class="slides">
                                    <li data-thumb="assets/img/roteirizador-entregas/01.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/roteirizador-entregas/01.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/roteirizador-entregas/02.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/roteirizador-entregas/02.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4 class="text-uppercase">
                                    Roteirizador de entregas
                                </h4>

                                <p>
                                    O sistema da Elithium conta com um modulo para planejamento e roteirização de
                                    entregas ou coletas. O sistema auxilia no planejamento das viagens, visando a menor
                                    quilometragem e o menor tempo. O usuário pode criar as rotas de forma manual, via
                                    arquivo CSV/TXT ou via API.
                                    <br><br>O roteirizador de entregas também é importante para o controle de jornada de
                                    trabalho do motorista, pois identifica quando o mesmo esta em condução ou em espera.
                                    Além disso, o sistema conta com integração com Google Maps e Waze para navegação das
                                    rotas, ajudando o motorista a chegar no local e hora esperado e planejado.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <div class="row">
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-6">
                            <h4 class="text-uppercase">Viajem expressa</h4>
                            <p>Além do planejamento de viagens, o cliente também pode cadastrar viagens expressas, tais
                                viagens
                                consideram a localização atual do veiculo/motorista e um ponto de coleta e um ponto de
                                entrega,
                                esse tipo de recurso é utilizado em casos de viagens de última hora não programadas.
                                <br><br>
                                O usuário pode definir o tempo estimado para realizar o serviço de entrega ou coleta,
                                dando mais previsibilidade nas próximas paradas e na jornada do motorista. A rota fica
                                mais otimizada para a operação e diminuiu os custos com desvios de rotas.
                            </p>

                        </div>
                        <div class="col-md-6">
                            <div class="post-slider post-img text-center">
                                <ul class="slides">
                                    <li data-thumb="assets/img/roteirizador-entregas/03.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/roteirizador-entregas/03.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/roteirizador-entregas/04.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/roteirizador-entregas/04.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <div class="row">
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-6">
                            <div class="post-slider post-img text-center">
                                <ul class="slides">
                                    <li data-thumb="assets/img/roteirizador-entregas/05.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/roteirizador-entregas/05.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-uppercase">Desvios de Rota</h4>
                            <p>Outro recurso importante do roteirizador de entregas é o alerta de desvio de rota. Caso o
                                veículo/motorista altere a rota planejada o sistema irá gerar alertas para a Central,
                                avisos por
                                e-mail e pushs no <b>App de Rastreamento Mobile</b>.
                                <br><br> Além do monitoramento em tempo
                                real, o
                                sistema
                                também conta com relatórios analíticos das viagens, cruzando informações dos horários de
                                chegada
                                e saída das entregas, desvios de rota, tempo médio por entrega, entre outras
                                informações.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--body content end-->