<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">Jornada de Trabalho</h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Soluções</a>
                    </li>
                    <li><a href="#">Jornada de Trabalho</a>
                    </li>
                    <li class="active">Motorista</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content" style="padding: 100px 0 0 0; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center">
                        <h3 class="text-uppercase">JORNADA DE TRABALHO DO MOTORISTA</h3>
                        <span class="text-uppercase">controle de jornada de motorista </span>
                    </div>
                    <p>Para fazer um bom controle de jornada de motorista, todo o período em que o funcionário está a
                        disposição é levado em consideração.

                        Esse período deve incluir o tempo de direção (tempo em que o motorista está conduzindo o
                        veículo) e seu controle é obrigatório, de acordo com a Lei nº 13.103/2015.

                        A administração do tempo de direção e controle da jornada dos motoristas é responsabilidade do
                        gestor. É preciso adotar mecanismos para registrar o tempo de condução estipulado, intervalos e
                        períodos de descanso.

                        A Elithium trabalha com sistemas de Controle de Jornada onde o gestor poder ter controle total
                        da sua frota. Confira!</p>
                    <br />
                </div>

            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/jornada-trabalho/04.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">FOLHA DE PONTO</span>
                                <h4 class="text-uppercase">
                                    SOLUÇÕES PARA A FOLHA DE PONTO
                                </h4>
                            </div>
                            <p>
                                O sistema conta com um relatório de “folha de ponto” com toda a jornada de trabalho do
                                motorista no mês. Nesse relatório o usuário do sistema terá as seguintes informações:
                            </p>
                            <p><B>Inicio e fim de jornada; Tempo de condução, espera, descanso, refeição e operação;
                                    Detalhamento de tempo diurno, noturno e continua máxima; Tempo de hora extra normal,
                                    indenizatória e fora de escala.</B>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">ESCALAS</span>
                                <h4 class="text-uppercase">
                                    SOLUÇÕES PARA A ESCALAS DE MOTORISTAS
                                </h4>
                            </div>
                            <p>
                                Todas as mensagens de Push são relacionadas com os valores da escala associada ao
                                motorista. Portanto, o Push se comportará de acordo com os períodos cadastrados na
                                escala. Importante salientar que os alertas têm como finalidade auxiliar o motorista na
                                utilização do sistema Onboard, ajudando o mesmo a imputar os dados nos períodos
                                pré-definidos na escala. Os alertas não alteram nenhum resultado de relatório ou da
                                jornada do motorista.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/jornada-trabalho/06.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/jornada-trabalho/05.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">APP ONBOARD – TELA INICIAL</span>
                                <h4 class="text-uppercase">
                                    SOLUÇÕES PARA APP ONBOARD – TELA INICIAL
                                </h4>
                            </div>
                            <p>
                                O App Onboard trabalha em conjunto com a plataforma SSX, depois que o usuário faz o
                                cadastro da escala do motorista e cria as mensagens conforme a sua necessidade, o
                                motorista só precisa ir selecionando cada uma das mensagens conforme o andamento da sua
                                viagem.
                                <br><br>
                                O App Onboard captura a localização do veiculo/rastreador ou do smartphone a cada
                                mensagem enviada, assim o gestor da frota ou responsável do RH pode cruzar as
                                informações da viagem, facilitando na hora de consolidar as informações da jornada de
                                trabalho do motorista.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">APP ONBOARD: ALERTAS</span>
                                <h4 class="text-uppercase">
                                    Alertas para motorista e ajudante
                                </h4>
                            </div>
                            <p>
                                Notificação ao motorista do tempo mínimo de descanso diário.<br>

                                Regra para alertar o motorista e informar que a configuração
                                <b>Tempo mínimo de descanso diário</b> não está sendo respeitado.

                                <b>Mensagem:</b> “Tempo mínimo de descanso de 10:00 ainda não foi atingido. Deseja
                                continuar
                                mesmo assim?”
                                <br>
                            <p>Alertas de área restrita, botão de pânico, falha elétrica, pneu furado, entre outras
                                mensagens personalizadas para comunicação interna com a <b>Central</b>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/jornada-trabalho/02.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content" style="padding: 100px 0 160px 0;">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/jornada-trabalho/01.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">Jornada de Trabalho</span>
                                <h4 class="text-uppercase">
                                    Log de Mesangem
                                </h4>
                            </div>
                            <p>
                                No log de mensagem, o motorista consegue acompanhar o envio das mensagens ao sistema,
                                tendo o registro permanente das informações, para os casos de auditoria e confirmação de
                                conexão com o servidor.
                            </p>
                            <p>
                                O mesmo ajuda na auditoria interna do RH, para esclarecer duvidas sobre a jornada de
                                trabalho do motorista e do ajudante, nos casos em que o motorista não lembra que enviou
                                determinada informação ou se o mesmo afirma que enviou e o sistema não recebeu
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
</section>
<!--body content end-->