        <!--page title start-->
        <section class="page-title background-title dark banner-sb1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">Telemetria Sensorizada</h3>
                        <ol class="breadcrumb box">
                            <li><a href="#">Soluções</a>
                            </li>     
                            <li><a href="#">Telemetria</a>
                            </li>
                            <li class="active">Telemetria Sensorizada</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--page title end-->

        <!--body content start-->
        <section class="body-content">

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="post-list-aside">
                            <div class="post-single">
                                <div class="col-md-6">
                                    <div class="post-slider post-img text-center">
                                        <ul class="slides">
                                            <li data-thumb="assets/img/sensorizada/01.png">
                                                <a href="javascript:;" title="">
                                                    <img src="assets/img/sensorizada/01.png" alt="">
                                                </a>
                                            </li>
                                            <li data-thumb="assets/img/sensorizada/02.png">
                                                <a href="javascript:;" title="">
                                                    <img src="assets/img/sensorizada/02.png" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <h4 class="text-uppercase">
                                            telemetria Sensorizada
                                        </h4>

                                        <p>
                                            A telemetria Sensorizada é feita por meio de sensores físicos que são instalados no veículo/caminhão, ao contrário da telemetria OBDII e CAN que se conecta diretamente as informações do modulo, a telemetria Sensorizada se utiliza de entradas digitais, analógicas e de pulso, para extrair informações como RPM, quilometragem (KM), velocidade, pedal do acelerador, pedal da embreagem, sensor de chuva, entre outras informações.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-content">
                <div class="container" style="text-align: center;">
                    <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase">Telemetria Sensorizada 4G</h4>
                            <p>A Elithium também conta com equipamento de telemetria 4G de alta performance para operações mais robustas e com indisponibilidade para rede 2G. É fato que as operadoras aos poucos estão desativando as ERBs 2G, devido ao alto custo de tecnologia antiga. O desligamento da rede 2G está acontecendo aos poucos e pode demorar anos até que isso ocorra definitivamente, o melhor a se fazer, é analisar a operação antes de contratar um serviço de rastreamento e telemetria.</p>
                            <p>Toda a telemetria, inteligência embarcada e indicadores do rastreador 4G se baseiam no equipamento 2G, a única diferença, é a alta disponibilidade de conexão que irá abranger as redes 4G/3G/2G.</p>
                        </div>
                    </div>          
                </div>
            </div>
            <div class="page-content">
                <div class="container">
                    <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; padding-bottom: 30px; ">
                    <div class="row">
                        <div class="row">
                            <!--features start-->
                            <div class="col-md-3">
                                <div style="min-height: 404px; font-size:12px" class="featured-item feature-border-box text-left">
                                    <div class="icon">
                                        <i class="icon-basic_world"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Características Modem</h4>
                                    </div>
                                    <div class="desc">
                                        - GSM/GPRS Quad-Band 3G/WCDMA : B1 / B2 / B5 / B8 / 4G/LTE : B3 / B7 / B28 / IOT - 4G, 3G, 2G, EDGE<br>
                                    - Homologado na Anatel<br>
                                    - Detecção de Jammer     
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="min-height: 404px; font-size:12px"class="featured-item feature-border-box text-left">
                                    <div class="icon">
                                        <i class="icon-map"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Características GPS</h4>
                                    </div>
                                    <div class="desc">
                                        - Multi Constelações<br>
                                    - Antena interna de alta performance<br>
                                    - GPS, GLONASS, Galileo e QZSS
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="min-height: 404px; font-size:11px"class="featured-item feature-border-box text-left">
                                    <div class="icon">
                                        <i class="icon-gear_wheel"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Principais Características</h4>
                                    </div>
                                    <div class="desc">
                                        
                                        <b>-</b> Uma entrada para Pós-Chave (12v/24v)<br>
                                            <b>-</b> Duas entradas tri-state<br>
                                            <b>-</b> Bloqueio/sirene<br>
                                            <b>-</b> Bateria Interna - Capacidade de 250mA<br>
                                            <b>-</b> RPM – Controle de Motor Ocioso<br>
                                            <b>-</b> Entrada leitor RFID/Ibutoon<br>
                                            <b>-</b> 05 Entradas - sensor temperatura<br>
                                            <b>-</b> Porta RS-232 – Integração sensores<br>
                                            <b>-</b> Inteligência Embarcada<br>

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="min-height: 404px; font-size:11px;"class="featured-item feature-border-box text-left">
                                    <div class="icon">
                                        <i class="icon-linegraph"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Eventos e Indicadores</h4>
                                    </div>
                                    <div class="desc">
                                        - Excesso de Velocidade Máxima<br>                                
                                        - Excesso de Velocidade Chuva<br>
                                        - Tempo e Distância em Velocidade Máxima<br>
                                        - Aceleração e Frenagem Brusca<br>
                                        - Velocidade Máxima em Área Controlada<br>
                                        - Distância Percorrida Km e metros detalhado<br>
                                        - Tempo Motor Ocioso<br>
                                        - Tempo Excesso de RPM
                                    </div>
                                </div>
                            </div>
                            <!--features end-->
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--body content end-->