<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">Vídeos Demonstração</h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Materiais</a>
                    </li>
                    <li class="active">Youtube</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content" style="padding: 100px 0 0 0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <h4 class="text-uppercase">
                            <a href="https://www.youtube.com/channel/UCAVM2S0v3OFSXCWy0P8itPw" target="_blank">ACESSE O CANAL ELITHIUM NO YOUTUBE</a>
                        </h4>
                        <p>
                            A Elithium possui um canal no YouTube onde você encontra diversos vídeos tutoriais
                            explicativos demonstrando como funcionam as ferramentas dos aplicativos Onboard e SSX, além
                            de demonstrar as novidades presentes no Sensor de Fadiga e Distração.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">   
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/_WPnjRfxZGo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/OSrS2Hwz6uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/c5ydaq3KjnU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/-3xGhgA8Zo0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/ZIzFcA-ilQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/WI6E49H3DZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/05b8WW8s8RI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/ctQktnOC8oU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/loDva4iKNUo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/BSRnTESSVFM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/YYaFGWkbEtc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/HMQMHLUDf9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/hYVCTnO6-pI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/RY6TaRqZNoI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <iframe width="354" height="198" src="https://www.youtube.com/embed/tEt30ANvkf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</section>
<!--body content end-->