<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">Gestão de Frota Terceirizada</h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Soluções</a>
                    </li>
                    <li class="active">Gestão de Frota</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content">
        <div class="container">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">GESTÃO DE MULTAS</span>
                                <h4 class="text-uppercase">
                                    ANTECIPE O RECEBIMENTO E EVITE PREJUÍZOS
                                </h4>
                            </div>
                            <p>
                                A Elithium irá receber via sistema as multas e poderá fazer a indicação da mesma,
                                conforme solicitação do cliente.
                            </p>
                            <p>Esse serviço tem como objetivo antecipar o recebimento das multas, dependendo do caso, a
                                multa pode entrar no nosso sistema em menos de uma semana, isso evita que os motoristas
                                sejam dispensados da empresa sem o desconto das multas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">GESTÃO DE CNH DO MOTORISTA</span>
                                <h4 class="text-uppercase">
                                    SOLUÇÕES PARA GESTÃO DE CNH DO MOTORISTA
                                </h4>
                            </div>
                            <p>
                                Nossa equipe irá fazer a consulta da CNH do motorista no caso de possível contratação,
                                além do acompanhamento continuo dos motoristas registrados na empresa, verificando a
                                validade e a pontuação da CNH.
                            </p>
                            <p>
                                Com esse trabalho preventivo e continuo, a empresa evita a contratação de motoristas com
                                a CNH prestes a ser suspensa/cassada. Além disso, nas principais seguradoras do mercado,
                                existem cláusulas que mencionam a perda de direitos quando há irregularidades na CNH do
                                condutor.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">GESTÃO DE ALERTAS</span>
                                <h4 class="text-uppercase">
                                    SEGURANÇA E ECONOMIA
                                </h4>
                            </div>
                            <p>
                                A Elithium fica encarregada de fazer a gestão das regras para condução segura e
                                economica dos motoristas/veiculos.
                            </p>
                            <p>
                                São diversas regras que podem ser controladas para trazer mais economia e segurança para
                                a frota, nossa equipe irá fazer o acompanhamento continuo, readaptando conforme a
                                necessidade da empresa e dando feedbacks e ideias de melhorias ao cliente.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">PRINCIPAIS ALERTAS</span>
                                <h4 class="text-uppercase">
                                    Alertas do sistema
                                </h4>
                            </div>
                            <ul>
                                <li>Tempo de motor ocioso</li>
                                <li>Alerta de Velocidade seco / Chuva</li>
                                <li>Excesso de velocidade em área rural</li>
                                <li>Aceleração e frenagem brusca</li>
                                <li>Alerta RPM alto</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content" style="padding: 100px 0 160px 0;">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">SISTEMA DE ALERTAS</span>
                                <h4 class="text-uppercase">
                                    soluções e Sistema de alertas
                                </h4>
                            </div>
                            <p>A Elithium irá disponibilizar uma plataforma Web com App Android e Iphone, para a
                                realização de check lists dos veículos. O check list pode ser modificado e/ou melhorado,
                                dependendo da necessidade do cliente.</p>
                            <p>A equipe da Elithium irá enviar um relatório semanal dos check lists que estão sendo
                                executados para o encarregado ou gerente do transporte.</p>
                            <p>
                                O check list tem como objetivo, fazer a vistoria diária dos veículos, avaliando itens de
                                segurança, pneus, informações de abastecimento/combustível e ou avarias ocasionadas por
                                terceiros.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content" style="padding: 100px 0 160px 0;">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">

                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">MANUTENÇÃO PREVENTIVA</span>
                                <h4 class="text-uppercase">
                                    Soluções em manutenção preventiva
                                </h4>
                            </div>
                            <p>A Elithium irá fazer o cadastro e acompanhamento das manutenções da frota do cliente,
                                desde manutenção preventiva a corretiva.</p>
                            <p>O objetivo é antecipar os veículos que devem ser parados para vistoria ou execução de
                                manutenção, assim a empresa pode se planejar quanto financeiramente e logisticamente
                                para realizar as respectivas manutenções, além de manter o histórico e relatório das
                                manutenções e identificar problemas recorrentes ou peças/mão de obra que precisam ser
                                trocadas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/gestao-frota-terceirizada/6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
</section>
<!--body content end-->