<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">Telemetria CAN </h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Soluções</a>
                    </li>
                    <li><a href="#">Telemetria</a>
                    </li>
                    <li class="active">CAN</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-6">
                            <div class="post-slider post-img text-center">
                                <ul class="slides">
                                    <li data-thumb="assets/img/telemetria-can/01.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/01.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/02.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/02.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/03.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/03.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/04.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/04.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/05.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/05.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/06.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/06.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/07.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/07.png" alt="">
                                        </a>
                                    </li>
                                    <li data-thumb="assets/img/telemetria-can/08.png">
                                        <a href="javascript:;" title="">
                                            <img src="assets/img/telemetria-can/08.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4 class="">
                                    telemetria CAN
                                </h4>

                                <p>
                                    A telemetria CAN é mais recomendada para veículos pesados, entre eles, truck,
                                    trucado, cavalo, fora de estrada ou maquinas (linha amarela).
                                    Basicamente a Rede CAN é um protocolo de comunicação serial síncrono que funciona
                                    como uma rede inteligente, e há diferentes tipos de protocolos e informações a serem
                                    coletadas, podendo variar de um modelo de veículo para outro. Os indicadores mais
                                    importantes que farão a diferença no consumo de combustível do veículo, são: Faixas
                                    de RPM interligadas com informações de pedal do acelerador e velocidade real. Em
                                    casos de veículos com câmbio automático, outros indicadores são ainda mais
                                    relevantes, como pedal de freio, porcentagem de pisada em pedal de aceleração,
                                    faixas de velocidade, tempo de rolagem e Eco-roll.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="page-content">
        <div class="container" style="text-align: center;">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="">Diferenciais</h4>
                    <p>Os veículos de forma geral possuem mais de uma unidade de controle eletrônico (ECU), e geram
                        informações diferentes. Considerando esse fato, o equipamento da Elithium, permite conectar duas
                        portas CAN (protocolo J1939) e uma entrada para protocolo J1708. Dessa forma, nosso equipamento
                        consegue coletar o maior numero de informações do veiculo, e agregar mais valor a solução com
                        mais retorno para o cliente.</p>
                    <br>
                    <h4 class="">Principais Indicadores e KPI´s</h4>
                    <p>
                        A telemetria por rede CAN, não gera economia por si só, na verdade o fator fundamental para
                        gerar economia para sua frota, é o Motorista. A forma como o motorista dirige, irá afetar
                        diretamente os custos com combustível, pneu, freios e manutenções em geral.
                        Dito isso, o que sua empresa precisa, são indicadores que demonstrem exatamente como o motorista
                        dirige os veículos da empresa. Vamos avaliar abaixo os principais indicadores:
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; padding-bottom: 30px; ">
            <div class="row">
                <!--features start-->
                <div class="col-md-6">
                    <div style="min-height: 420px; font-size:12px" class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-wallet"></i>
                        </div>
                        <div class="title ">
                            <h4>Velocidade</h4>
                        </div>
                        <div class="desc">
                            <p>Nosso equipamento em conjunto com o sistema, consegue identificar o tempo em cada faixa
                                de velocidade em que o motorista se deslocou na viagem. Visualmente o gestor da frota
                                pode acompanhar as faixas com maior tempo e com maior consumo de combustível.</p>
                            <p>Velocidades acima de 90km/h fazem com que o motor do veículo gere 30x mais força do que
                                se ele estivesse abaixo dos 80km/h, imagine o quanto isso impacto no consumo do veículo.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="min-height: 420px; font-size:12px" class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph1"></i>
                        </div>
                        <div class="title ">
                            <h4>Pedal do Acelerador</h4>
                        </div>
                        <div class="desc">
                            <p>Nosso equipamento também é capaz de controlar as faixas de porcentagem de pisada no
                                pedal do acelerador, quanto mais o motorista pisar no acelerador, maior será a injeção
                                de combustível no motor. Caso o motorista pise até o fim, nosso equipamento irá gerar um
                                evento chamado Kickdown, normalmente estará ligado diretamente aos excessos de
                                velocidade.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 50px">
                    <div style="min-height: 550px; font-size:12px" class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-wallet"></i>
                        </div>
                        <div class="title ">
                            <h4>Sistema de Freios</h4>
                        </div>
                        <div class="desc">
                            <p>Pedal de freio: A cada pisada de freio, além do desgaste do mesmo e do pneu, o ar que
                                está no compressor ligado ao motor, irá esvaziando aos poucos, e será necessária mais
                                força no motor para encher o ar do compressor novamente, resultando em maior consumo de
                                combustível.
                                O correto é utilizar os sistemas de freios auxiliares, buscando mais previsibilidade na
                                redução de marchas e na utilização do freio motor e dependendo do veículo, os sistemas
                                de freio Top Break ou Retarder.
                            </p>
                            <p>Freio de Carreta/Maneco: Ainda é possível, fazer o acompanhamento do freio da carreta,
                                também chamado de maneco. Muitos motoristas utilizam o mesmo como freio auxiliar, por
                                questões de vícios operacionais, trazendo maior desgaste nos pneus e freios.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 50px">
                    <div style="min-height: 550px; font-size:12px" class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph1"></i>
                        </div>

                        <div class="title ">
                            <h4>Faixas de RPM</h4>
                        </div>
                        <div class="desc">
                            <p>A faixa de RPM só pode ser controlada com o indicador de pedal de aceleração, o mesmo irá
                                servir para identificar se o motorista está dirigindo em alta rotação, porem sem pisar
                                no pedal de acelerador, nesse caso o consumo de combustível é 0 (zero).
                            <br>Quanto mais tempo o motorista ficar na faixa extra-economica, maior será a economia, isso
                            se da ao fato de o motor ter o ponto certo de maior torque, ou maior força, sempre
                            identificado na faixa verde do RPM. Ficar acima ou abaixo da faixa verde irá aumentar
                            consideravelmente o consumo de combustível, (considerando o pedal do acelerador)</p>

                        </div>


                    </div>
                </div>
                <!--features end-->
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container" style="text-align: center;">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="">Média de Consumo de Combustível</h4>
                    <p>
                        Nosso equipamento tem a capacidade de monitorar em tempo real o consumo de combustível do
                        veículo, ou seja, além da média de consumo, o gestor também pode acompanhar a quantidade de
                        litros consumidos no dia, semana ou mês.
                        A média de consumo não pode ser avaliada isoladamente, pois é o resultado de vários outros
                        indicadores, até da via onde o veículo está rodando e do peso carregado.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; padding-bottom: 30px; ">
            <div class="row">
                <div class="row">
                    <!--features start-->
                    <div class="col-md-3">
                        <div style="min-height: 358px; font-size:12px"
                            class="featured-item feature-border-box text-left">
                            <div class="icon">
                                <i class="icon-wallet"></i>
                            </div>
                            <div class="title ">
                                <h4>Rede CAN</h4>
                            </div>
                            <div class="desc">
                                - 3 barramentos independentes<br>
                                - 2x CAN, 1x J1708<br>
                                - Próximas versões: K-line/LIN/Veículos mais antigos
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height: 358px; font-size:12px"
                            class="featured-item feature-border-box text-left">
                            <div class="icon">
                                <i class="icon-ecommerce_graph1"></i>
                            </div>
                            <div class="title ">
                                <h4>Características Modem</h4>
                            </div>
                            <div class="desc">
                                - Quad-band: 850/ 900/ 1800/ 1900MHz<br>
                                - Homologado na Anatel<br>
                                - Detecção de Jammer
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height: 358px; font-size:11px"
                            class="featured-item feature-border-box text-left">
                            <div class="icon">
                                <i class="icon-basic_geolocalize-05"></i>
                            </div>
                            <div class="title ">
                                <h4>Características GPS</h4>
                            </div>
                            <div class="desc">

                                - Multi Constelações<br>
                                - Antena interna de alta performance<br>
                                - GPS, GLONASS, Galileo e QZSS


                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height: 358px; font-size:11px;"
                            class="featured-item feature-border-box text-left">
                            <div class="icon">
                                <i class="icon-linegraph"></i>
                            </div>
                            <div class="title ">
                                <h4>Eventos e Indicadores</h4>
                            </div>
                            <div class="desc">
                                - Velocidade média<br>
                                - Tempo motor ocioso<br>
                                - Tempo em movimento<br>
                                - Consumo ocioso<br>
                                - Consumo em movimento<br>
                                - Tempo em rolagem<br>
                                - Infração de maior ocorrência<br>
                                - Distância percorrida<br>
                                - Litros consumidos<br>
                                - Consumo médio período<br>
                                - E muitos mais...
                                <!-- - Velocidade média<br>
                            - Tempo motor ocioso<br>
                            - Tempo em movimento<br>
                            - Consumo ocioso<br>
                            - Consumo em movimento<br>
                            - Tempo em rolagem<br>
                            - Infração de maior ocorrência<br>
                            - Distância percorrida<br>
                            - Litros consumidos<br>
                            - Consumo médio período<br>
                            - Utilização com motor ligado<br>
                            - Faixas de Velocidade<br>
                            - Faixa RPM em movimento com acelerador<br>
                            - Faixa RPM em movimento sem acelerador<br>
                            - Faixas pedal de acelerador<br>
                            - Faixas Utilização Turbo<br>
                            - Faixas de utilização do acelerador em aclive -->
                            </div>
                        </div>
                    </div>
                    <!--features end-->
                </div>

            </div>
        </div>
    </div>








</section>
<!--body content end-->