<!--hero section-->
<div class="parallax text-center vertical-align parallax-20">
    <div class="container-mid">
        <div class="container" style="margin-left: 0px; ">
            <div style="color:white;padding: 20px; background-color: #21365269; text-align: left;">
                <h1 style="color:white; padding: 10px;" class="text-uppercase">Soluções inteligentes em: <br>
                    <span style="height: 20px; " class="typist-element typist-mark" data-typist="Gestão de Frotas">Telemetria
                    </span>
                </h1>

                <h3 style="color:white;padding: 10px;" class="text-uppercase">Otimize e reduza os custos da sua frota.</h3>
                <a style="color:white; border-color: white;" href="#" onclick="openWhatsAppWeb()" class="btn btn-small btn-dark-border ">Teste Grátis</a>
                <a href="telemetria-can" class="btn btn-small btn-dark-solid  ">Soluções</a>
            </div>
        </div>
    </div>
</div>
<!--hero section-->

<!--body content start-->
<section class="body-content">

    <div class="page-content" style="padding: 75px 0 25px 0;">
        <div class="container">
            <div class="row">
                <!--features start-->
                <div class="col-md-3">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-wallet"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>Redução de Custos</h4>
                        </div>
                        <div class="desc">
                            Reduza o custo operacional com analise e estatísticas
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-ecommerce_graph1"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>Análise de Performance</h4>
                        </div>
                        <div class="desc">
                            Relatórios e gráficos de performance e ranking de motoristas
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-basic_geolocalize-05"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>Rastreador Tecnologia 4G</h4>
                        </div>
                        <div class="desc">
                            Mais performance e amplitude de sinal para sua frota
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-item feature-border-box text-left">
                        <div class="icon">
                            <i class="icon-linegraph"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>Telemetria Inteligente</h4>
                        </div>
                        <div class="desc">
                            Telemetria sensorizada ou REDE CAN para gerenciar sua frota
                        </div>
                    </div>
                </div>
                <!--features end-->
            </div>
        </div>
    </div>
    <div class="page-content" >

        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-6">
                        <div class="post-slider post-img text-center">
                            <ul class="slides">
                                <li data-thumb="assets/img/rastreamento-tempo-real/01.jpg">
                                    <a href="javascript:;" title="">
                                        <img src="assets/img/rastreamento-tempo-real/01.jpg" alt="">
                                    </a>
                                </li>
                                <li data-thumb="assets/img/rastreamento-tempo-real/02.jpg">
                                    <a href="javascript:;" title="">
                                        <img src="assets/img/rastreamento-tempo-real/02.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">soluções para rastreamento</span>
                                <h4 class="text-uppercase">
                                    RASTREAMENTO EM TEMPO REAL
                                </h4>
                            </div>

                            <p>
                                Monitore sua frota em tempo real com tecnologia 4G. Seja mais assertivo na tomada de
                                decisão operacional identificando desvios de rota, paradas indevidas, acesso rápido ao
                                Street View e integração com transito Google Maps.
                            </p>
                            <p>Plataforma web para departamento CCO e aplicativo Android e IOS para quem não para no
                                escritório.</p>
                            <div>
                                <a href="telemetria-sensorizada" class="btn btn-small btn-rounded btn-dark-solid  "> Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/services/Abastecimento.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">soluções para telemetria</span>
                                <h4 class="text-uppercase">
                                    Telemetria OBDII/CAN
                                </h4>
                            </div>

                            <p>
                                A Elithium identifica juntamente com o cliente, qual a melhor solução para o tipo de
                                necessidade, operação e frota, tanto a telemetria Sensorizada como via OBDII/CAN tem os
                                seus benefícios, variando entre facilidade de instalação, quantidade de indicadores,
                                precisão de informação, entradas e saídas digitais ou analógicas e custo de aquisição.
                            </p>
                            <div>
                                <a href="telemetria-can" class="btn btn-small btn-rounded btn-dark-solid  "> Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/services/roteirizador.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk" style="min-height: 380px">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">soluções para logística</span>
                                <h4 class="text-uppercase">
                                    Roteirizador de entregas
                                </h4>
                            </div>
                            <p>
                                O sistema da Elithium conta com um modulo para planejamento e roteirização de entregas
                                ou coletas. O sistema auxilia no planejamento das viagens, visando a menor quilometragem
                                e o menor tempo. O roteirizador também é importante para o controle de jornada de
                                trabalho do motorista, pois identifica quando o mesmo está em condução ou em espera.
                            </p>

                            <div>
                                <a href="roteirizador-entregas" class="btn btn-small btn-rounded btn-dark-solid  "> Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
            <!--post style 4 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-6">
                        <div class="post-img">
                            <img src="assets/img/services/telemetria-sensorizada.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-desk" style="height: 540px;">
                            <div class="m-bot-30">
                                <span class="post-sub-title text-uppercase">Análise de Ranking de motoristas</span>
                                <h4 class="text-uppercase">
                                    Telemetria Sensorizada
                                </h4>
                            </div>
                            <p>
                                O Ranking de Motoristas apresenta dados e gráficos comparativos para cada motorista cadastrado. Nesta área da plataforma é possível comparar o rendimento entre motoristas, bem como: velocidade média de condução, infrações, tempo de motor ocioso e consumo por quilometragem. 

O sistema também permite que o usuário crie diversas formulas de avaliação, parametrizando o peso de cada alerta conforme o nível crítico ou urgência do mesmo.
                            </p>
                            <div>
                                <a href="telemetria-sensorizada" class="btn btn-small btn-rounded btn-dark-solid  ">Sabe Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 4 end-->
        </div>
    </div>

    <hr style="border-top: 1px solid #58B5C6; margin-bottom: 30px; ">
    <div class="page-content">
        <div class="heading-title-alt border-short-bottom text-center ">
            <h4 class="text-uppercase">Nossos clientes </h4>
            <div class="half-txt">Conheça alguns de nossos clientes e o que eles dizem de nós..</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio col-3 gutter ">
                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/gerdau.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/votorantim.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/ferrari.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/benfica.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/lumiar.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="portfolio-item ">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/clients/zj.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="testimonial-parallax ">
        <div class="overlay-dark page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--testimonial start-->
                        <div id="testimonial-3" class="text-center light-txt big-icon ">
                            <div class="item">
                                <div class="icon theme-color">
                                    <i class="icon-user_comment"></i>
                                </div>

                                <div class="content">
                                    <p>
                                        O diferencial da Elithium é que não preciso me preocupar em adequar o meu
                                        problema à um equipamento, eles adequam os equipamentos mediante a minha
                                        necessidade. Tinha problemas com relação a roubo de frota e carga, média de 7 ao
                                        ano sem recuperação. Em parceria com a Elithium, em julho completaremos um ano
                                        sem nenhum roubo!
                                    </p>
                                    <div class="testimonial-meta">
                                        Kayan Soumaili
                                        <span>Lumiar Health Care</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon theme-color">
                                    <i class="icon-user"></i>
                                </div>
                                <div class="content">
                                    <p>Empresa séria, com profissionais capacitados, atendimento rápido.
                                        Empresa atualizada, sempre buscando novas soluções para os clientes
                                        Recomendo!</p>
                                    <div class="testimonial-meta">
                                        JC
                                        <span>JC & Souza Verduras</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon theme-color">
                                    <i class="icon-user_comment"></i>
                                </div>
                                <div class="content">
                                    <p>Ótima prestação de serviços, sempre trazendo inovação tecnológica para nossa
                                        empresa.</p>
                                    <div class="testimonial-meta">
                                        J. Watanabe
                                        <span>J. Watanabe Alimentos</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon theme-color">
                                    <i class="icon-user_comment"></i>
                                </div>
                                <div class="content">
                                    <p>Empresa Fantástica, bom atendimento, excelente qualidade. Recomendo!</p>
                                    <div class="testimonial-meta">
                                        Everton Barros
                                        <span>Cliente Excusivo</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--testimonial end-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width promo-box gray-bg">
        <div class="container">
            <div class="col-md-12">
                <div class="promo-info">
                    <h4>BAIXE O <span class="theme-color">GUIA COMPLETO</span> DE <span class="theme-color">GESTÃO
                            TERCEIRIZADA</span></h4>
                    <span>Neste guia você encontrará todas as informações necessárias. </span>
                </div>
                <div class="promo-btn">
                    <a href="#" class="btn btn-medium btn-rounded btn-dark-solid  text-uppercase">Baixar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--body content end-->