<!--page title start-->
<section class="page-title background-title dark banner-sb1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">sobre nós</h3>
                <ol class="breadcrumb box">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">páginas</a>
                    </li>
                    <li class="active">sobre nós</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content">
    <div class="container">
        <div class="row page-content">
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-12" style="text-align: center;">
                        <div class="heading-title-alt text-center">
                            <h3 class="text-uppercase">SOBRE NÓS ELITHIUM</h3>
                            <span class="text-uppercase">saiba mais sobre nossa história </span>
                        </div>
                        <p>
                            Desde 2009 atuando no mercado de rastreamento com foco em gestão de frota, a Elithium é
                            comandada por sócios proprietários que atuam neste mercado desde o ano de 2002 empenhando um
                            importante papel em gerenciamento de risco.
                        </p>

                        <p>
                            Atualmente, a Elithium tem como foco empresas que necessitam otimizar sua frota, reduzindo
                            custos e aumentando a durabilidade da mesma, com ferramentas que auxiliam desde a logística
                            da empresa, manutenção preventiva da frota e controle de jornada de trabalho.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="feature-parallax dark">
        <div class="overlay-dark">
            <div class="container ">
                <div class="row page-content">
                    <div class="col-md-6">
                        <div class="featured-item text-center">
                            <div class="icon theme-color">
                                <i class="icon-browser2"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>objetivo</h4>
                            </div>
                            <div class="desc">
                                O objetivo de toda empresa é gerar lucro, conosco não é diferente, dessa forma a empresa
                                pode reinvestir o lucro em melhorias, novas soluções, pagando bons salários e
                                contratando novos colaboradores capacitados.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured-item text-center">
                            <div class="icon theme-color">
                                <i class=" icon-lightbulb"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>Visão</h4>
                            </div>
                            <div class="desc">
                                “Pensar grande e pensar pequeno, dá o mesmo trabalho”. Essa é uma frase que temos em
                                mente e tentamos colocar em prática. Pensamos alto, em como a empresa pode concorrer de
                                forma saudável com grandes players do mercado de rastreamento e gestão de frota e
                                acreditamos que em 2022 podemos ser um dos destaques desse segmento que tem crescido
                                tanto no Brasil.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
<!--body content end-->